.btn1 {
	    display: inline-block;
	    font-weight: 500
	    cursor: pointer;
	    outline: none;
	    width: 400px;
	    background-color: #ff9f00;
	    color:white;
	    height:80px;
		}
		.btn1:hover{
		display: inline-block;
	    font-weight: 500;
	    cursor: pointer;
	    outline: none;
	    width: 400px;
	    background-color: #ff9f00;
	    color: white;
	    height:80px;	
	    opacity: 0.7;
		}
input {
	  color: #777;
	  width: 2em;
	  font-size: 2em;
	  border-radius: 10px;
	  border: 2px solid #ccc;
	  padding: 5px;
	  padding-left: 10px;
	}
	input[type=number]::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  cursor: pointer;
	  display: block;
	  width: 10px;
	  text-align: center;
	  position: relative;
	  background: transparent;
	}
	input[type=number]::-webkit-inner-spin-button::before,
	input[type=number]::-webkit-inner-spin-button::after {
	  content: "";
	  position: absolute;
	  right: 0;
	  width: 0;
	  height: 0;
	  border-left: 7px solid transparent;
	  border-right: 7px solid transparent;
	  border-bottom: 10px solid #777;
	}
	input[type=number]::-webkit-inner-spin-button::before {
	  top: 7px;
	}
	input[type=number]::-webkit-inner-spin-button::after {
	  bottom: 7px;
	  transform: rotate(180deg);
	}